@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
@import 'Header';
@import 'Keyframes';
@import 'Mixins';
@import 'Variables';
@import 'Cart';
@import 'Chat';
@import 'Dialog';
@import 'Favorites';
@import 'Landing';
@import 'Main';
@import 'Pagination';
@import 'Product';
@import 'Profile';
@import 'Recommendation';
@import 'Ring';
@import 'Footer';

body {
    background-color: #f2f3f8;
    margin: 0px;
    overflow-x: hidden !important
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(189, 189, 189);
    border-radius: 6px;

    &:hover {
        background: linear-gradient(black,rgb(26, 221, 8))
    }

}

::-webkit-scrollbar-track {
    background: rgb(228, 228, 228)
}

.searchInput {
    position: fixed;
    top: 22.5px;
    right: 240px;
    height: 20px;
    border-radius: 15px;
    border: 1.4px solid $colorOfTheme;
    outline: none;
    padding: 5px;
}


.error404 {
    position: absolute;
    width: 100vw;
    align-self: center;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 40px;

    span {
        color: $colorOfText;

        i {
            color: $colorOfTheme
        }

    }

}

.found {
    position: relative;
    top: 70px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
    min-height: calc(85vh - 70px);
    padding: 2.5rem;
    font-family: 'Robotto',sans-serif;

    .found__title {
        grid-column: 1/6;

        > img {
            margin-right: 10px;
        }
    }

}

.message-form {
    position: fixed;
    top: 0;
    z-index: 310;
    width: 100vw;
    height: 100vh;
    
    &::before {
        content:'';
        height:100vh;
        width : 100vw;
        background: rgba(0,0,0,0.6);
        position: absolute;
    }

    .message-modal {
        position: absolute;
        top: calc(50vh - 150px);
        left: 30vw;
        min-height: 300px;
        width: 40vw;
        background: #FFF;
        background: rgb(218, 218, 218);

        .message-modal__header {
            position: relative;
            height: 50px;
            width: 100%;
            background: $colorOfTheme;
            color: white;

            p {
                position: relative;
                top: calc(50% - 9px);
                left: 20px;
                margin-top: 0;
                font-family: 'Montserrat',sans-serif;
                font-size: 18px;
            }

            i {
                position: absolute;
                right: 10px;
                top: calc(50% - 10px);
                font-size: 20px;
                cursor: pointer
            }

        }

        .message-modal__img {
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            margin-right: 5px;
            background-position: center;
            background-size: cover;
        }

        .message-modal__footer {
            position: relative;
            height: 20%;
            width: 100%;
            border-top: 2px solid $colorOfTheme;
            text-align: center;

            button {
                @include styleButton(25%,30px);
                margin : 10px;
            }

        }

        .message-modal__body {
            height: 60%;
            padding: 20px calc(50% - 40%) 20px calc(50% - 40%) ;
            width: 100%;

            textarea {
                width: 80%;
                height: 100px;
                margin-top: 15px;
                font-size: 18px;
            }

            span {
                position: relative;
                bottom: 20px;
                font-weight: bold;
                font-size: 15px;
                font-family: 'Montserrat',sans-serif;
                left: 8px
            }

        }

    }

}

.activeLink {
    border-bottom:2px solid #2454e4 !important;
    font-size:30px !important
}

#root {
    min-height:100vh;
    transition:1s
}

.open {
    .app-header {
        transform:translateX(20vw);
    }

    span {
        height: 0px !important;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;

        &::before {
            transform-origin: left;
            transform: rotate(45deg) translateY(-3px) translateX(2px);
        }

        &::after {
            transform: rotate(-44deg) translateY(2px) translateX(3px);;
            transform-origin: left;
        }
        
    }

    #content {
        transform: translateX(20vw);
    }

}

#content {
    transition: all 1s;
}

.hoverBtnEffect {
    position: relative;
    padding: 10px 0;
    border: 2px solid #111;
    text-decoration: none;
    font-weight: 600;
    
    > span {
        position: relative;
        z-index: 3;
        font-size: 20px !important;
        color: #242939;
    }

    &::before {
        content: '';
        position: absolute;
        top: 10px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% - 20px);
        transform: scaleY(1);
        transition: .4s ease-in-out;
        transition-delay: .4s;
        background: white;
    }

    &::after {
        content: '';
        position: absolute;
        left: 10px;
        top: -2px;
        height: calc(100% + 4px);
        width: calc(100% - 20px);
        transform: scaleX(1);
        transition: .4s ease-in-out;
        background: white;
    }

    &:hover {
        background : #242939;

        span {
            color : white;
            transition-delay : .4s
        }

    }

    &:hover::after {
        transform: scaleX(0);
    }

    &:hover::before {
        transform: scaleY(0);
    }

}

.products-container {
    @include shiftDown(70px);

    display: grid;
    grid-template-columns: 5fr 1fr;

    + footer {
        position: relative;
        z-index: 5;
        margin-top: 75px;
    }

    .products-container__products {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 1.2rem;
        position: relative;
        min-height: 80vh;
        padding: 30px;

        .lds-dual-ring {
            left: calc(50vw - 40px - 110px)
        }

        .error404 {
            width: 100%;

            + .pagination {
                display: none;
            }

        }

        > .pagination {
            grid-column: 1/5;
            justify-self: center
        }

    }

    .products-container__catalog {
        display: grid;
        height: 100%;
        margin: 0;
        padding-top: 20px;
        padding-left: 0;
        list-style-type: none;
        background: $colorOfTheme; 

        > li {
            position: relative;
            min-height: 50px;
            padding-top: 25px - 10.4px;
            padding-left: 18px;
            overflow: hidden;
            font-size: 1.3rem;
            font-family: 'Montserrat', sans-serif;
            color: white;
            cursor: pointer;
            background: $colorOfTheme;
            text-align: left;

            &::before {
                content: '';
                position: absolute;
                left: 18px;
                top: 50px;
                transform: rotate(45deg);
                z-index: 2;
                display: block;
                width: 17px;
                height: 17px;
                background: $colorOfTheme;
            }

            a {
                color: white;
                text-decoration: none;
            }

            i {
                margin-right: 8px
            }
        }

        .subparagraphs {
            position: relative;
            right: 18px;
            max-height: 15rem;
            width: 110%;
            padding-left: 10px;
            margin-bottom: 0;
            list-style-type: none;
            animation: deployCatalog .5s linear 1;
            overflow: hidden;
            background: #242939;
            transition: .5s;

            > li {
                margin: 15px 0 0 15px;
                font-size: 18px;
                padding-left: 3px;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    display: block;
                    width: 5px;
                    height: 0;
                    margin-top: 2px;
                    background: mix($colorOfTheme,rgb(29, 236, 22));
                }

                &:hover::before {
                    height: 18px
                }

                &:last-child {
                    margin-bottom: 15px
                }

            }

        }

    }

}

.choiceCatalog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    min-height: 100%;
    margin: 0;
    list-style-type: none;
    padding-top: 20px;
    padding-left: 0;
    background: $colorOfTheme;

    + i {
        position: absolute;
        top: 0;
        right: 10px;
        top: 5px;
        color: white;
        font-size: 20px;
        cursor:pointer;
    }

    > li {
        position: relative;
        overflow: hidden;
        min-height: 50px;
        padding-top: 25px - 10.4px;
        padding-left: 18px;
        font-size: 1.3rem;
        font-family: 'Montserrat', sans-serif;
        color: white;
        cursor: pointer;
        background: $colorOfTheme;
        text-align: left;

        &::before {
            content: '';
            position: absolute;
            left: 18px;
            top: 50px;
            transform: rotate(45deg);
            z-index: 2;
            display: block ;
            width: 17px;
            height: 17px;
            background: $colorOfTheme;
        }

        a {
            color: white;
            text-decoration: none;
        }

        i {
            margin-right: 8px
        }

    }

    .subparagraphs {
        position: relative;
        right: 18px;
        width: 110%;
        list-style-type: none;
        padding-left: 10px;
        overflow: hidden;
        background: rgb(15, 15, 15);
        animation: deployCatalog .5s linear 1;
        transition: .5s;
        margin-bottom: 0;

        > li {
            margin: 15px 0 0 15px;
            font-size: 18px;
            padding-left: 3px;

            &::before {
                content: '';
                display: block;
                width: 5px;
                height: 0;
                background: mix($colorOfTheme,rgb(29, 236, 22));
                position: absolute;
                left: 0;
                margin-top: 2px;
            }

            &:hover::before {
                height: 18px
            }

            &:last-child {
                margin-bottom: 15px
            }

        }
    }
}

#categoryBtn {
    width: 90%;
    margin: 15px 0;
    height: 50px
}

.error-page {
    @include shiftDown(70px);

    display: grid;
    align-items: center;
    justify-items: center ;
    height: calc(100vh - 70px);
}

.moreInfo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    display: grid;
    grid-template-columns: repeat(2,1fr) 20px;
    width: 100vw;
    height: 100vh;
    padding-top: 4rem;
    background-color: #fff;

    > .moreInfo__body {

        p {
            font-size: 23px;
        }

        span {
            display: block;
            margin-bottom: 30px;
            font-size: 24px;
            font-weight: 500;
        }

        div {
            position: relative;
            margin-bottom: 20px;

            > div {
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background-position: center;
                background-size: cover;
            }

            > b {
                position: absolute;
                top: 25px - 8px;
                margin-left: 15px;
                font-family: 'Montserrat',sans-serif;
                font-weight: 500
            }

        }

        button {
            @include styleButton(20%,40px)
        }

    }

    > .moreInfo__photo {
        width: 70%;
        height: 70%;
        justify-self: center;
        background-position: center;
        background-size: cover;
    }

    > .moreInfo__delete {
        position: absolute;
        right: 35px;
        top: 8px;
        font-size: 2rem;
        cursor: pointer
    }

}

.r-1 {
    position: absolute;
    left: 10vw;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
}

.r-2 {
    @extend .r-1;
    transform: translateX(100vw);
    transition: 1s;
}

.left-main {
    animation: slideEffectLeft  .6s linear 1;
    transform: translateX(100vw);
}

.left-secondary {
    transform: translateX(0vw);
}

.right-main {
    transition: .7s;
    transform: translateX(100vw);
}

.right-secondary {
    animation: slideEffectRight 1s linear 1;
    transform: translateX(0vw);
}

.modal {
    position: fixed;
    left: 50%-(35%/2);
    top: 15%;
    z-index: 22 !important;
    width: 35%;
    height: 70%;
    background:white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow-y: auto;

    label[for='avatar'] {
        height: 50px
    }

    .modal__header {
        display: grid;
        grid-template-columns: 1fr 25px;

        > i {
            font-size: 20px;
            padding: 10px 10px 0 0;
            cursor: pointer
        }

    }

    button {
        @include styleButton(35%,40px);
    }

}

.shadowBox {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: block;
    width: 100vw;
    background: rgba(0,0,0,0.6);
}

.checkbox-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px
}

.errorRadio {
    border: 2px solid rgb(233, 37, 37) !important;
}

.inputRadio {
    justify-self: left;
    margin: 15px;

    input[type='radio'] {
        display: none;

        &:checked + label > .choice {
            visibility: visible;
        }

        &:checked + label {
            border: 2px solid $colorOfTheme !important;
        }

    }

    .choice {
        position: absolute;
        top: 2px;
        left: 9.5%;
        display: block;
        width: 80%;
        height: 80%;
        visibility: hidden;
        border-radius: 50px;
        background: $colorOfTheme;
    }

    label {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50px;
        background-color:#fff;
        border: 2px solid rgba(44, 43, 43, 0.5);

        &::before{
            content: 'Male';
            position: relative;
            right: 50px;
            font-family: 'Montserrat', sans-serif;
        }

    }

}

.male {
    label {
        &::before{
            content:'Male';
         }
     }
}

.female {
   label {
    &::before{
        content:'Female';
        right:70px
     }
   }
}

@for $i from 1 to 3 {
    @keyframes collapsed_#{$i} {
        from {
            height:0px
        } to {
             @if $i == 1 {
                height:300px
             } @else {
                 height:180px
             }
        }
    }
}

.focusInputs {
    transform: translateY(-9px) translateX(20px) !important;
    color: $colorOfTheme !important;
}

.focusError {
    border: 1.4px solid red !important
}

.inputBox {
    position: relative;
    width: 100%;
    text-align: center;

    label {
        position: absolute;
        align-self: end;
        justify-self: left;
        transform: translateY(15px) translateX(18px) ;
        background: none;
        font-size: 16px;
        transition: 0.4s; 
        color:rgb(143, 140, 140);
        cursor: text;
    }

    input {
        height: 35px;
        width: 90%;
        outline: none;
        border-radius: 5px;
        border: 1.4px solid rgb(218, 217, 217);
        font-size: 1em;
        padding: 5px;
        margin-bottom: 20px;

        &:focus {
            border: 1.4px solid rgb(22, 22, 197);
        }

    }
    
    label[for='avatar'] {
        @include styleButton(90%, 45px);

        position: relative;
        left: 5%;
        display: grid;
        align-items: center;
        transform: none !important;

        &::before {
            content: 'Upload Image';
            color: white;
        }

    }

    #category {
        margin-top: 20px
    }

    #avatar {
        display: none;
    }

}

@media (max-width : 420px) {
    .open .app-header,.open #content {
        transform: translateX(40vw);
    }
    .app-header {
        menu {
            width : 40vw;
            transform: translateX(-40vw)
        }
        .fa-search,.fa-shopping-cart,.fa-heart,.fa-sign-out-alt {
            font-size : 20px;
            top : 24px;
        }
        .fa-heart {
            right : 72px
        }
        .fa-shopping-cart {
            right : 40px
        }
        .fa-sign-out-alt {
            right : 8px
        }
        .fa-search {
            right : 72px !important
        }
        .fa-times {
            right : 102px !important;
        }
        .changeLocal {
            right : 102px !important;
        }
        .searchInput {
            right : 130px
        }
    }
    .landing {
        .landing__advantages {
            > span {
                grid-column : 1/2;
            }
            grid-template-columns : 1fr;
            grid-row-gap : 2rem;
            padding : 0;
        }
        .landing__photo {
            > span {
                font-size : 30px
            }
            > a {
                left : calc(50vw - 75px);
                top : 65%
            }
        }
        .landing__details,.landing__brands,.landing__counter {
            grid-template-columns : 1fr;
        }
        .landing__brands {
            margin: 50px 20px 50px 20px;
            > span {
                grid-column : 1/2;
            }
        }
        .landing__counter {
            grid-row-gap : 5rem;
            > div {
              width : 85%;
              &:nth-child(2) {
                  > span {
                    position: relative;
                    right: 8px;
                    bottom : 12px
                  }
              }
              &:last-child {
                > span {
                    position: relative;
                    bottom : 12px
                  }
              }
            }
        }
    }
    .products-container {
        grid-template-columns: 1fr;
        .products-container__products {
            grid-template-columns: 1fr;
            padding: 60px 30px;
            .pagination {
                grid-column: 1/2;
            }
        }
        .products-container__catalog {
            grid-row : 1/2;
        }
    }
    .auth {
        grid-template-columns: 1fr;
        grid-template-rows: calc(100vh - 70px);
        height : 150vh;
        grid-row-gap : 3rem;
        + footer {
            margin-top:150px !important;
        }
        .auth__form {
            height : 100%;
            width : 80%
        }
        .auth__photo__info {
            top : 15% !important
        }
    }
    .changeLocalInput {
        right : 110px !important;
        + .fa-times {
            right : 72px !important
        }
    }
    .profile {
        .profile__interactive__menu {
            width: 100%;
            display: grid;
            grid-template-columns: 100px 100px 160px;
            padding-left: 0px;
        }
        .profile__content {
            .info {
                grid-template-columns: 1fr;
                grid-row-gap : 3rem;
                margin: 50px 40px 50px 40px;
                > main {
                    width : 100%;
                    height : 500px;
                    .dialog {
                        padding : 10px 10px;
                        box-sizing : border-box;
                        height : 90px
                    }
                    .dialog__body {
                        padding-left : 10px
                    }
                    .dialog__avatar {
                        width : 65px;
                        height : 65px;
                        align-self : center
                    }
                }
            }
            .settings {
                grid-template-columns: 1fr;
                grid-row-gap : 3rem;
                margin: 50px 40px 50px 40px;
                > main {
                    justify-self : center;
                    .settings__item {
                        margin-right: 0px !important;
                        box-sizing: border-box;
                        padding: 25px 15px 25px 15px;   
                        width : 100%
                    }
                }
            }
            .createdProducts {
                grid-template-columns: 1fr;
                grid-row-gap : 3rem;
                margin: 50px 40px 50px 40px;
                > main {
                    grid-template-columns: 1fr
                }
            }
            .recommendations {
                display: grid;
                grid-template-columns: 1fr;
                .recommendations__body {
                    grid-template-columns: 1fr;
                }
                .back,.go {
                    display : none
                }
            }
        }
    }
    .cart {
        .cart__body {
            grid-template-columns: 1fr;
        }
    }
    .favorites,.found {
        grid-template-columns: 1fr;
        > h1 {
            grid-column: 1/2 !important;
        }
    }
    footer {
        padding : 10px;
        box-sizing: border-box;
    }
    .moreInfo {
        grid-template-columns : 1fr;
        grid-template-rows: auto;
        overflow : auto;
        .moreInfo__body {
            padding : 1.5rem;
            button {
                margin-bottom: 50px;
                width : 40%
            }
        }
        .moreInfo__photo {
            width:90%;
            height : 300px
        }
    }
}