$colorOfText : #657195;
$colorOfTheme : #4d65dc;
$colorOfAlert : #dd1b1b;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

@mixin shiftDown($value) {
    position:relative;
    top:$value;
}

@mixin activeBtnPag {
    background: $colorOfTheme;
    color : white;
    border-radius : 5px
}

@mixin side($background){
    background: $background;
    width:100%;
    text-align : center;
    padding-top : 2rem;
    text-align : center;
    color : white;
    p {
        font-family : 'Montserrat',sans-serif;
        font-size : 20px;
        padding : 30px;
        line-height : 35px
    }
}

@mixin controller($local,$shift) {
    position:absolute;
    #{$local} : $shift;
    top : calc(50% - 25px);
    width : 60px;
    height : 60px;
    border-radius : 100%;
    background: #fff;
    box-shadow : 5px 5px 10px rgba(0,0,0,.6);
    color : black;
    transition : all .5s;
    text-align:center;
    z-index : 2;
    &:hover {
        background: $colorOfTheme;
        color : #fff;
    }
    > i {
        font-size : 30px;
        position : relative;
        top : 30px - 15px;
    }
}

@mixin adaptiveImage {
    background-position: center;
    background-size : cover;
}

@mixin profileTemplate {
    display:grid;
    grid-template-columns : 1fr 2fr;
    grid-column-gap:120px;
    margin:50px 80px 50px 80px;
    aside {
        background: #fff;
        height : 200px;
        padding:30px;
        display : grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2,1fr);
        .info__image {
            @include adaptiveImage;
            width:80px;
            height:80px;
            border-radius : 100px;
            justify-self: center;
        }
        p {
            justify-self:start;
            font-family : 'Montserrat ', sans-serif;
            font-size : 1.5rem;     
        }
        span {
            font-family : 'Montserrat ', sans-serif;
            grid-column: 1/3;
            font-size:1.1rem;
            color : $colorOfText;
            font-weight:500;
            border-top:1.4px solid rgba(101, 113, 149,0.3);
            padding-top:15px
        }
    }
}

@mixin styleButton($width,$height,$textSize:16px) {
    width:$width;
    height:$height;
    background: #242939;
    color:white;
    border: #242939;
    border-radius: 3px;
    font-size : $textSize;
    font-weight:700;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    &:hover {
        background: #3556f9;
        transition: 0.3s linear;
    }
    @content;
}

.searchInput {
    position: fixed;
    right : 240px;
    height : 20px;
    border-radius : 15px;
    border : 1.4px solid $colorOfTheme;
    top : 22.5px;
    outline : none;
    padding : 5px
}

.app-header {
    height : 70px;
    width:100vw;
    background-color: #fff;
    position:fixed;
    top:0;
    left:0;
    box-shadow:2px 2px 10px rgb(59, 58, 58);
    z-index:4 !important;
    transition : all 1s;
    .fa-sign-out-alt {
        position: fixed;
        right: 20px;
        top: 20px;
        font-size: 30px;
        cursor: pointer;
        color: #48465b;
        &:hover {
            color:$colorOfTheme
        } 
    }
    .fa-heart {
        position: fixed;
        right: 140px;
        top: 20px;
        font-size: 30px;
        cursor: pointer;
        color : #48465b;
        &:hover {
            color:rgb(231, 26, 26);
        }
        animation : emergenceHeart .5s linear 1;
    }
    .fa-shopping-cart {
        position: fixed;
        right: 80px;
        top: 20px;
        font-size: 30px;
        cursor: pointer;
        color : #48465b;
        &:hover {
            color:$colorOfTheme;
        }
    }
    .fa-search {
        position: fixed;
        right: 140px;
        top: 20px;
        transition: .5 all linear;
        font-size: 30px;
        cursor : pointer;
        color: #48465b;
        &:hover {
            color: $colorOfTheme;
        }
    }
    .changeLocal {
        right: 200px !important;
    }
    .changeLocalInput {
        right: 180px;
        + .fa-times {
            right: 140px
        }
    }
    .fa-times {
        @extend .fa-search;
        right : 200px
    }
    menu {
        list-style-type: none;
        transition:1s;
        min-height : 100vh;
        width:20vw;
        transform:translateX(-20vw);
        margin : 0;
        position:fixed;
        padding:0;
        background-color:#fff;
        display:grid;
        justify-items: center;
        align-items : center;
        grid-template-rows:repeat(4,50px);
        padding-top:calc(50vh - 75px);
        .list__item {
            font-weight:700;
            font-size:1.3em;
            color:#657195;
            transition:0.3s;
            cursor:pointer;
            text-decoration:none;
            &:hover {
                color:#2454e4
            }
        }
    }
}

footer {
    margin-top : 150px;
    background:#242939;
    height : 30vh;
    width : 100vw;
    display : grid;
    grid-template-columns : 1fr;
    color : #fff;
    font-size : 25px;
    font-weight : bold;
    text-align : center;
    align-items : center;
    position: relative;
    > .reg {
        border-top: 1px solid #171a24;
        border-bottom: 1px solid #171a24;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        right:0;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            position: relative;
            width: 150px;
            height: 40px;
            border-radius: 40px;
            line-height: 20px;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            outline: none;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
            background-size: 400%;
            z-index: 1;
            &:hover {
                animation: switchBackground 4s linear infinite;
            }
            &::before {
                content: '';
                position: absolute;
                left: -5px;
                right: -5px;
                top: -5px;
                bottom: -5px;
                z-index: -1;
                background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
                background-size: 400%;
                border-radius: 40px;
                transition: .7s;
                opacity: 0;
            }
            &:hover::before {
                opacity: 1;
                filter: blur(10px);
                animation: switchBackground 4s linear infinite;
            }
        }
    }
    > .social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: 10px;
        .social-media__facebook {
            width: 50px;
            height: 50px;
            background-color: #3b5998;
            border-radius: 100%;
            margin: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .social-media__vk {
            @extend .social-media__facebook;
        }
        .social-media__inst {
            @extend .social-media__facebook;
            background-color: mix(mix(#833ab4,#fd1d1d),#f56040);
        }
        .social-media__dribble {
            @extend .social-media__facebook;
            background-color: #ea4c89;
        }
    }
    > .copyright {
        background-color: #171a24;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        > p {
            font-size: 18px;
            font-family: 'Montserrat',sans-serif;
            font-weight: 300;
            span {
                opacity: 0.7;
            }
        }
    }
}

.error404 {
    position : absolute;
    width : 100vw;
    font-family : 'Montserrat',sans-serif;
    font-size : 40px;
    text-align : center;
    align-self : center;
    span {
        color : $colorOfText;
        i {
            color : $colorOfTheme
        }
    }
}

.found {
    position:relative;
    top:70px;
    padding : 2.5rem;
    font-family : 'Robotto',sans-serif;
    display : grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:20px;
    min-height: calc(85vh - 70px);
    .found__title {
        grid-column : 1/6;
        > img {
            margin-right : 10px
        }
    }
}

.message-form {
    position:fixed;
    top:0;
    width : 100vw;
    height : 100vh;
    z-index : 310;
    &::before {
        content:'';
        height:100vh;
        width : 100vw;
        background: rgba(0,0,0,0.6);
        position: absolute;
    }
    .message-modal {
        width : 40vw;
        position : absolute;
        left : 30vw;
        min-height : 300px;
        background : #FFF;
        top : calc(50vh - 150px);
        background : rgb(218, 218, 218);
        .message-modal__header {
            background: $colorOfTheme;
            height : 50px;
            width : 100%;
            color : white;
            position : relative;
            p {
                margin-top : 0;
                font-family: 'Montserrat',sans-serif;
                font-size : 18px;
                position : relative;
                top : calc(50% - 9px);
                left : 20px
            }
            i {
                font-size: 20px;
                position: absolute;
                right: 10px;
                top: calc(50% - 10px);
                cursor : pointer
            }
        }
        .message-modal__img {
            width : 50px;
            height : 50px;
            border-radius : 100%;
            background-position: center;
            background-size: cover;
            display : inline-block;
            margin-right : 5px;
        }
        .message-modal__footer {
            border-top : 2px solid $colorOfTheme;
            position : relative;
            height : 20%;
            width : 100%;
            text-align : center;
            button {
                @include styleButton(25%,30px);
                margin : 10px;
            }
        }
        .message-modal__body {
            height:60%;
            padding:20px calc(50% - 40%) 20px calc(50% - 40%) ;
            width : 100%;
            textarea {
                width : 80%;
                font-size : 18px;
                height : 100px;
                margin-top : 15px
            }
            span {
                position:relative;
                bottom : 20px;
                font-weight : bold;
                font-size : 15px;
                font-family : 'Montserrat',sans-serif;
                left : 8px
            }
        }
    }
}

.activeLink {
    border-bottom:2px solid #2454e4 !important;
    font-size:30px !important
}

#root {
    min-height:100vh;
    transition:1s
}

.open {
    .app-header {
        transform:translateX(20vw);
    }
    span {
        height:0px !important;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        &::before{
            transform-origin: left;
            transform: rotate(45deg) translateY(-3px) translateX(2px);
        }
        &::after {
            transform: rotate(-44deg) translateY(2px) translateX(3px);;
            transform-origin: left;
        }
    }
    #content {
        transform: translateX(20vw);
    }
}

#content {
    transition : all 1s;
}

.app-header__title {
    height: 100%;
    overflow: hidden;
    > h2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        letter-spacing: 5px;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        transition: .7s;
        opacity: 0;
        > span {
            display: inline-block;
            text-transform: uppercase;
            &:nth-child(1) {
                animation: titleEffect 2.8s 1.8s linear;
            }
            &:nth-child(2) {
                animation: titleEffect 2.8s 2s linear;
            }
            &:nth-child(3) {
                animation: titleEffect 2.8s 2.2s linear;
            }
            &:nth-child(4) {
                animation: titleEffect 2.8s 2.4s linear;
            }
            &:nth-child(5) {
                animation: titleEffect 2.8s 2.6s linear;
            }
            &:nth-child(6) {
                animation: titleEffect 2.8s 2.8s linear;
            }
            &:nth-child(7) {
                animation: titleEffect 2.8s 3s linear;
            }
            &:nth-child(8) {
                animation: titleEffect 2.8s 3.2s linear;
            }
            &:nth-child(9) {
                animation: titleEffect 2.8s 3.4s linear;
            }
        }
    }
    > video {
        object-fit: cover;
        z-index: -1;
        position:relative;
        bottom: 18px;
        height: 120px;
        width: 100%;
        transition: .7s;
        &::before {
            content: '';
            display: block;
            position:absolute;
            left:0;
            width:1px;
            height:100%
        }
    }
}

.app-header__button {
    width:35px;
    height:35px;
    position: absolute;
    background: #242939;
    border:none;
    top:0%;
    transition:1s
}

.app-header__button span {
    height:2px;
    display: block;
    background: white;
    width:90%;
}

.app-header__button span::before{
    content:'';
    height:2px;
    display: block;
    background: white;
    width:60%;
    position:absolute;
    top:9px;
    transition: 0.2s;
}

.app-header__button span::after{
    content:'';
    height:2px;
    display: block;
    background: white;
    width:60%;
    position:absolute;
    bottom:9px;
    transition: 0.2s;
}

.profile {
    @include shiftDown(50px);
    .profile__interactive {
        background: #fff;
        padding:100px 30px 5px 40px;
        height : 120px
        
    }
    .profile__interactive__title {
        font-family: 'Montserrat', sans-serif;
    }
    .profile__interactive__menu {
        .active {
            border-bottom:3px solid $colorOfTheme;
        }
        li {
            display: inline-block;
            margin:16px;
            font-size:20px;
            font-family: 'Montserrat', sans-serif;
            cursor:pointer;
            &:hover {
                border-bottom:3px solid $colorOfTheme
            }
        }
    }
    .profile__content {
        text-align:center;
    }
}

.info {
    @include profileTemplate;
    main {
        background: white;
        width : 80%;
        justify-self : end;
        height : 680px;
        position : relative;
        .error404 {
            width : 100%;
            top:50%;
        }
    }
}

.landing {
    @include shiftDown(70px);
    width : 100vw;
    .landing__counter {
        display : grid;
        grid-template-columns : repeat(3,1fr);
        grid-template-rows: 110px;
        grid-gap : 2rem;
        padding : 2rem 3rem 2rem 3rem;
        border-top:1px solid rgba($colorOfText,.7);
        > div {
            background-color: #0389ff;
            position : relative;
            color : white;
            width : 50%;
            justify-self : center;
            text-align:center;
            padding-top : 55px - 25px;
            &:nth-child(2) {
                background: #ed1b2e;
                > p {
                    background: #bb202d;
                }
            }
            span {
                font-weight : bold;
                font-size : 50px
            } 
            > p {
                background: #05559b;
                position : absolute;
                bottom: -66px;
                margin : 0;
                font-size : 25px;
                height : 66px;
                width : 100%;
                box-sizing : border-box;
                padding : 18px 10px;
            }
        }
    }
    .landing__brands {
        margin : 50px 90px 50px 90px;
        display : grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap : 2rem;
        span {
            font-family : 'Montserrat ',sans-serif;
            font-size : 30px;
            grid-column : 1/4;
            text-align : center
        }
        .brand {
            cursor : pointer;
            > img {
                width : 100%;
                height : 100%;
                border-radius : 10px
            }
        }
    }
    .landing__details {
        margin-top : 100px;
        width : 100vw;
        display : grid;
        grid-template-columns : repeat(2,1fr);
        .fisrt-side {
            @include side(#242939)
        }
        .second-side {
            @include side($colorOfTheme)
        }
    }
    .landing__advantages {
        text-align : center;
        font-family: 'Montserrat ',sans-serif;
        display : grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap : 2rem;
        padding : 0 2.5rem 0 2.5rem;
        .landing__advantages__block {
            min-height : 250px;
            width : 80%;
            background: #fff;
            justify-self: center;
            padding:26px 16px;
            cursor : pointer;
            &:hover {
                box-shadow : 2px 2px 10px $colorOfTheme
            }
            p {
                color : $colorOfText;
                line-height : 30px;
                margin-bottom: 25px;
            }
            button {
                @include styleButton(40%,40px);
                border-radius : 2px
            }
        }
        span {
            margin:2rem;
            font-size : 30px;
            grid-column : 1/4
        }
    }
    .landing__photo {
        position:relative;
        width : 100%;
        height : 70vh;
        background-repeat: no-repeat;
        background-size:cover ;
        background-position: center;
        text-align:center;
        span {
            font-family: 'Montserrat',sans-serif;
            font-size : 45px;
            color : white;
            position: absolute;
            left : 30vw;
            right : 30vw;
            top : 30%
        }
        a {
            @include styleButton(150px,50px);
            position : absolute;
            left : 45vw;
            right : 45vw;
            top : 60%;
            border-radius : 100px;
            text-decoration: none;
            padding-top : 15px;
            box-sizing: border-box;
        }
        &::before {
            background: rgba(0,0,0,.5);
            content : '';
            display : block;
            position: absolute;
            top:0;
            left :0;
            right : 0;
            bottom : 0
        }
    }
}

.chat {
    height : 100%;
    .messages {
        padding : 1rem 2rem 1rem 2rem;
        overflow : auto;
        height : 80%;
        p,span {
            text-align : left !important
        }
    }
    .chat__tools {
        text-align : left;
        border-bottom : 2px solid rgba($colorOfText,.3);
        > i {
            &::before {
                margin-right : 5px;
            }
            font-size : 20px;
            margin : 10px 0 10px 10px;
            cursor : pointer
        }
    }
    .addingMessage {
        border-top : 2px solid rgba($colorOfText,.3);
        > input {
            width : 50%;
            padding : 5px;
            height : 25px;
            border-radius : 5px;
            border : 1.5px solid rgb(221, 221, 221);
            outline: none;
            font-size : 17px;
            position:relative;
            top : 10px;
            &:focus {
                border : 1.5px solid $colorOfTheme
            }
        }
        > .fa-paper-plane {
            position: absolute;
            bottom: 20px;
            font-size: 25px;
            margin-left: 14px;
            cursor: pointer;
            animation : effectIcon .4s ease-out;
            &:hover {
                color : $colorOfTheme
            }
        }
    }
    .message {
        position : relative;
        text-align : left;
        margin-bottom : 1.5rem;
        > div {
            width : 50px;
            height : 50px;
            border-radius : 100%;
            background-position: center;
            background-size: cover;
            display : inline-block;
            margin-right : 5px
        }
        > #data {
            position : absolute;
            top : 3px;
            font-size : 18px;
            font-weight : 700;
            > time {
                font-weight : 400;
                opacity : .7;
                margin-left : 6px
            }
        }
    }
}

.dialog {
    width : 100%;
    height : 70px;
    border-bottom : 2px solid rgba($colorOfText,.3);
    display : grid;
    grid-template-columns: 0.5fr 2fr 30px;
    padding:5px 0 5px 0;
    transition : all .5s ease-in;
    cursor : pointer;
    i {
        display : none;
        font-size : 20px;
    }
    &:hover {
        background: $colorOfTheme;
        color : #fff;
        > i {
            display : inline;
        }
    }
    .dialog__lastMessage {
        margin-top:8px;
        position:relative;
        .statusConnection {
            width : 10px;
            height : 10px;
            background : rgb(54, 179, 54);
            border-radius : 100%;
            position : absolute;
            right : 2px;
            bottom : -1px
        }
        > div {
            position:relative;
            background-size : cover;
            background-position: center;
            border-radius : 100%;
            width : 40px;
            height : 40px;
            display : inline-block;
            margin-right : 8px
        } 
        > span {
            position: absolute;
            top: 8px
        }
    }
    .dialog__avatar {
        background-size : cover;
        background-position: center;
        border-radius : 100%;
        width : 70px;
        height : 70px;
        justify-self : center
    }
    .dialog__body {
        text-align : left !important;
        span {
            font-family : 'Montserrat',sans-serif;
            font-size : 18px;
        }
        time {
            position: absolute;
            right: 10px;
            top: -28px;
            font-size: 15px;
            font-family: 'Montserrat',sans-serif;
        }
    }
}

.hoverBtnEffect {
    border : 2px solid #111;
    text-decoration : none;
    font-weight : 600;
    position : relative;
    padding : 10px 0;
    > span {
        z-index : 3;
        position : relative;
        font-size : 20px !important;
        color: #242939;
    }
    &::before {
        content : '';
        position:absolute;
        background: white;
        width : calc(100% + 4px);
        height : calc(100% - 20px);
        top : 10px;
        left : -2px;
        transform: scaleY(1);
        transition : .4s ease-in-out;
        transition-delay : .4s;
    }
    &::after {
        content : '';
        position:absolute;
        background: white;
        height : calc(100% + 4px);
        width : calc(100% - 20px);
        left : 10px;
        top : -2px;
        transform: scaleX(1);
        transition : .4s ease-in-out
    }
    &:hover {
        background : #242939;
        span {
            color : white;
            transition-delay : .4s
        }
    }
    &:hover::after {
        transform: scaleX(0);
    }
    &:hover::before {
        transform: scaleY(0);
    }
}

.cart {
    position: relative;
    top: 50px;
    padding : 3rem 1.5rem 3rem 1.5rem;
   .cart__body {
       display : grid;
       grid-template-columns: 3fr 1fr;
       grid-column-gap : 7rem;
   } 
   .cart__body__total {
       background : #fff;
       display : grid;
       grid-template-rows: repeat(2,1fr);
       padding:10px;
       height : 200px;
       transition : .5s linear;
       p {
           font-family : 'Montserrat',sans-serif;
           font-size : 18px
       }
       > div:last-child {
           position : relative;
           border-top : 2px solid $colorOfTheme;
           span {
               position : absolute;
               right : 0
           }
       }
       &:hover {
           box-shadow : 2px 2px 10px $colorOfTheme;
           transform : scale(1.05);
       }
   }
   .cart__body__products {
        width : 100%;
        height : 95vh;
        overflow : auto;
   }
   .cart__product {
       background : #fff;
       height : 150px;
       width : 100%;
       margin-bottom : 1rem;
       display : grid;
       grid-template-columns : 1fr 1fr 1fr .5fr;
       &:hover {
           background: $colorOfTheme;
           color : white;
           transition : 1s ease-out;
       }
       .cart__product__image {
           width:100px;
           height : 100px;
           border-radius : 100%;
           justify-self : center;
           align-self : center;
           background-position:center;
           background-size : cover
       } 
       .cart__product__price {
           font-family: 'Montserrat',sans-serif;
           font-size : 18px;
           font-weight :500;
           align-self :center;
           justify-self: center;
       }
       .cart__product__title {
           @extend .cart__product__price;
       }
       i {
            justify-self : center;
            align-self : center;
            font-size : 22px;
            cursor : pointer
       }
   }
}

.products-container {
    @include shiftDown(70px);
    display : grid;
    grid-template-columns : 5fr 1fr;
    + footer {
        margin-top : 75px;
        position : relative;
        z-index : 5
    }
    .products-container__products {
        display : grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap : 1.2rem;
        padding : 30px;
        position:relative;
        min-height: 80vh;
        .lds-dual-ring {
            left: calc(50vw - 40px - 110px)
        }
        .error404 {
            width : 100%;
            + .pagination {
                display : none;
            }
        }
        > .pagination {
            grid-column : 1/5;
            justify-self : center
        }
    }
    .products-container__catalog {
        background: $colorOfTheme; 
        height: 100%;
        margin: 0;
        list-style-type: none;
        padding-top: 20px;
        padding-left: 0;
        display: grid;
        > li {
            overflow: hidden;
            font-size: 1.3rem;
            font-family: 'Montserrat', sans-serif;
            color: white;
            cursor: pointer;
            background: $colorOfTheme;
            min-height: 50px;
            text-align: left;
            padding-top: 25px - 10.4px;
            position: relative;
            padding-left: 18px;
            &::before {
                content: '';
                display: block ;
                width: 17px;
                height: 17px;
                background: $colorOfTheme;
                position: absolute;
                left: 18px;
                top: 50px;
                transform: rotate(45deg);
                z-index: 2;
            }
            a {
                color : white;
                text-decoration: none;
            }
            i {
                margin-right:8px
            }
        }
        .subparagraphs {
            list-style-type : none;
            padding-left : 10px;
            animation : deployCatalog .5s linear 1;
            overflow : hidden;
            background : #242939;
            position : relative;
            right : 18px;
            width : 110%;
            transition : .5s;
            margin-bottom : 0;
            max-height: 15rem;
            > li {
                margin : 15px 0 0 15px;
                font-size: 18px;
                padding-left : 3px;
                &::before {
                    content : '';
                    display : block;
                    width : 5px;
                    height : 0;
                    background : mix($colorOfTheme,rgb(29, 236, 22));
                    position : absolute;
                    left : 0;
                    margin-top :2px;
                }
                &:hover::before {
                    height : 18px
                }
                &:last-child {
                    margin-bottom : 15px
                }
            }
        }
    }
}

.choiceCatalog {
    background:$colorOfTheme;
    min-height : 100%;
    margin:0;
    list-style-type : none;
    padding-top : 20px;
    padding-left : 0;
    display : grid;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    + i {
        position: absolute;
        top: 0;
        right: 10px;
        top: 5px;
        color: white;
        font-size: 20px;
        cursor:pointer;
    }
    > li {
        overflow:hidden;
        font-size : 1.3rem;
        font-family: 'Montserrat', sans-serif;
        color : white;
        cursor : pointer;
        background : $colorOfTheme;
        min-height : 50px;
        text-align : left;
        padding-top : 25px - 10.4px;
        position : relative;
        padding-left : 18px;
        &::before {
            content : '';
            display : block ;
            width : 17px;
            height : 17px;
            background: $colorOfTheme;
            position : absolute;
            left : 18px;
            top : 50px;
            transform : rotate(45deg);
            z-index : 2;
        }
        a {
            color : white;
            text-decoration: none;
        }
        i {
            margin-right:8px
        }
    }
    .subparagraphs {
        list-style-type : none;
        padding-left : 10px;
        animation : deployCatalog .5s linear 1;
        overflow : hidden;
        background : rgb(15, 15, 15);
        position : relative;
        right : 18px;
        width : 110%;
        transition : .5s;
        margin-bottom : 0;
        > li {
            margin : 15px 0 0 15px;
            font-size: 18px;
            padding-left : 3px;
            &::before {
                content : '';
                display : block;
                width : 5px;
                height : 0;
                background : mix($colorOfTheme,rgb(29, 236, 22));
                position : absolute;
                left : 0;
                margin-top :2px;
            }
            &:hover::before {
                height : 18px
            }
            &:last-child {
                margin-bottom : 15px
            }
        }
    }
}

#categoryBtn {
    width : 90%;
    margin : 15px 0;
    height : 50px
}

.pagination {
    display: flex;
    justify-content: space-evenly;
    margin-top : 30px;
    width : 50%;
    position : relative;
    grid-template-columns: repeat(auto-fit,minmax(40px,1fr));
    > button {
        background: none;
        color : $colorOfText;
        font-size : 19px;
        border : none;
        font-weight : 550;
        width : 70px;
        height : 50px;
        align-self : center;
        padding:7px;
        cursor:pointer;
        transition-duration : .4s;
        &:hover {
            @include activeBtnPag;
        }
    }
    > .pagination__prev {
        align-self : center;
        font-size: 20px;
        top : calc(50% - 10px);
        cursor : pointer
    }
    > .pagination__next {
        @extend .pagination__prev;
    }
    .activePag {
        @include activeBtnPag;
    }
}

.createdProducts {
    @include profileTemplate;
    main {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap : 1.5em;
        overflow : auto;
        height:400px;
        padding:5px
    }
    .addProduct {
        width:60%;
        height:50px;
        justify-self:center;
        grid-column : 1/2;
        button {
            @include styleButton(80%,90%);
        }
    }
}

.error-page {
    @include shiftDown(70px);
    height : calc(100vh - 70px);
    display : grid;
    align-items : center;
    justify-items : center ;
}

.recommendations {
    width : 100vw;
    min-height : 250px;
    background : white;
    margin-top : 100px;
    position : relative;
    padding-top : 1.5rem;
    padding-bottom : 1.5rem;
    border-radius: 8px;
    box-shadow: 4px 4px 15px rgba(0,0,0,.6);
    .back {
        @include controller(left,3vw);
    }
    .go {
        @include controller(right,2vw); 
    }
    .recommendations__title {
        font-family : 'Montserrat',sans-serif;
        text-align : left !important;
        margin : 0 0 1rem 25px;
        color: #48465b;
        transition: .5s;
        position: relative;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            bottom: -2px;
            width: 0px;
            height: 3px;
            background: #dc4dac;
            display: block;
            transition: 1s;
        }
        &:hover {
            color: $colorOfTheme;
            &::before {
                width: 235px
            }
        }
    }
    .recommendations__body {
        width : 80vw;
        margin-bottom: 65vh;
        grid-gap : 2rem;
        transition : all 1s;
        transform : translateX(0px);
        .product {
            border : 2px solid mix(#48465b,$colorOfTheme);
            .product__footer {
                border-bottom: 1.7px solid mix(#48465b,$colorOfTheme)
            }
        }
    }
}

.moreInfo {
    z-index : 300;
    background-color : #fff;
    width:100vw;
    height : 100vh;
    position:fixed;
    top:0;
    left:0;
    display : grid;
    grid-template-columns: repeat(2,1fr) 20px;
    padding-top:4rem;
    > .moreInfo__body {
        p {
            font-size : 23px;
        }
        span {
            font-size : 24px;
            display : block;
            margin-bottom : 30px;
            font-weight : 500
        }
        div {
            margin-bottom:20px;
            position : relative;
            > div {
                width : 50px;
                height : 50px;
                border-radius : 100%;
                display : inline-block;
                background-position: center;
                background-size: cover;

            }
            > b {
                margin-left : 15px;
                font-family : 'Montserrat',sans-serif;
                position:absolute;
                top : 25px - 8px;
                font-weight : 500
            }
        }
        button {
            @include styleButton(20%,40px)
        }
    }
    > .moreInfo__photo {
        width:70%;
        height:70%;
        justify-self : center;
        background-position: center;
        background-size: cover;
    }
    > .moreInfo__delete {
        position:absolute;
        right:35px;
        top:8px;
        font-size : 2rem;
        cursor : pointer
    }
}

.product {
    position:relative;
    width:100%;
    height: auto;
    background-color: #fff;
    border: 2px solid rgba(36, 41, 57,0.3);
    border-top: 2.5px solid rgba(36,41,57,0.3);
    .product__header {
        width:100%;
        .product__header__image {
            @include adaptiveImage;
            width: 100%;
            height: 200px;      
        }
    }
    .product__details {
        padding:0 8px 0px 8px;
        #product__details__price {
            font-family: 'Montserrat', sans-serif;
            font-size:25px;
            text-align:left;
            font-weight:bold;
            color: #48465b
        }
        #product__details__title {
            font-family: 'Montserrat', sans-serif;
            text-align:left;
            color: #48465b
        }
        #product__details__category {
            font-family: 'Montserrat', sans-serif;
            text-align:left;
            color : $colorOfTheme
        }
    }
    .product__footer {
        display:grid;
        grid-template-columns : repeat(2,1fr);
        justify-items: center;
        grid-column-gap:15px ;
        padding:5px;
        border-bottom: 1.7px solid rgba(36, 41, 57,0.6);
        button {
            @include styleButton(110px,auto,16px){
                padding:8px;
            }
        }
    }
    .product__interactive {
        display:grid;
        grid-template-columns : repeat(2,50%);
        grid-template-rows : 100%;
        align-self : center;
        margin : 10px 0 10px 0;
        width:100%;
        i {
            font-size:20px;
            align-self:center;
            justify-self:center;
            padding-right:2px;
            color: #242939;
            &::before {
                padding-right:5px
            }
        }
    }
}

.r-1 {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    position: absolute;
    left: 10vw;
}

.r-2 {
    @extend .r-1;
    transform: translateX(100vw);
    transition: 1s;
}

.left-main {
    animation: slideEffectLeft  .6s linear 1;
    transform: translateX(100vw);
}

.left-secondary {
    transform: translateX(0vw);
}

.right-main {
    transition: .7s;
    transform: translateX(100vw);
}

.right-secondary {
    animation: slideEffectRight 1s linear 1;
    transform: translateX(0vw);
}

.modal {
    position:fixed;
    width:35%;
    height:70%;
    z-index:22 !important;
    background:white;
    left:50%-(35%/2);
    top:15%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow-y : auto;
    label[for='avatar'] {
        height : 50px
    }
    .modal__header {
        display : grid;
        grid-template-columns: 1fr 25px;
        > i {
            font-size : 20px;
            padding : 10px 10px 0 0;
            cursor : pointer
        }
    }
    button {
        @include styleButton(35%,40px);
    }
}

.shadowBox {
    z-index:10;
    background: rgba(0,0,0,0.6);
    width:100vw;
    display:block;
    position: fixed;
    top : 0;
    left : 0;
    bottom : 0
}

.settings {
    @include profileTemplate;
    .settings__item {
        min-height:50px;
        max-height: 100vh;
        width:80%;
        background: #fff;
        margin-bottom:30px;
        padding : 50px - (50px / 2) 15px 0 15px;
        text-align:start;
        font-family: 'Montserrat', sans-serif;
        color:rgba(34, 33, 33,0.9);
        transition-timing-function: ease-in;
        transition-duration: 0.6s;
        cursor : pointer;
        box-shadow:3px 3px 15px rgba(0,0,0,0.7);
        overflow:hidden;
        h2 {
            margin:0
        }
        &:hover {
            background: rgb(250, 250, 250);
            
        }
    }
    .settings__item__edit {
        animation:collapsed_1 0.5s linear;
        margin-top:30px;
        text-align:center;
        button {
            @include styleButton(80px,40px)
        }
    }
    .settings__item__change {
        @extend .settings__item__edit;
        animation:collapsed_2 0.5s linear;
    }
    .inputRadio {
        justify-self: center;
    }
}

.checkbox-container {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:70px
}

.errorRadio {
    border : 2px solid rgb(233, 37, 37) !important;
}

.inputRadio {
    justify-self:left;
    margin:15px;
    input[type='radio']{
        display: none;
        &:checked + label > .choice {
            visibility: visible;
        }
        &:checked + label {
            border:2px solid $colorOfTheme !important;
        }
    }
    .choice {
        display:block;
        visibility: hidden;
        width:80%;
        height:80%;
        border-radius:50px;
        background:$colorOfTheme;
        position:absolute;
        top:2px;
        left: 9.5%
    }
    label {
        position: relative;
        width:20px;
        height:20px;
        border-radius:50px;
        background-color:#fff;
        display:inline-block;
        border:2px solid rgba(44, 43, 43, 0.5);
        &::before{
            content:'Male';
            font-family: 'Montserrat', sans-serif;
            position:relative;
            right:50px
        }
    }
}

.male {
    label {
        &::before{
            content:'Male';
         }
     }
}
.female {
   label {
    &::before{
        content:'Female';
        right:70px
     }
   }
}

@for $i from 1 to 3 {
    @keyframes collapsed_#{$i} {
        from {
            height:0px
        } to {
             @if $i == 1 {
                height:300px
             } @else {
                 height:180px
             }
        }
    }
}

.favorites {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows : 100px 1fr;
    position:relative;
    top:70px;
    padding:2rem;
    grid-gap : 20px;
    h1 {
        grid-column : 1/6;
        font-family : 'Robotto',sans-serif
    }
    .lds-dual-ring {
        position: relative;
        height: 60vh;
        left: calc(50vw - 80px)
    }
}

.focusInputs {
    transform : translateY(-9px) translateX(20px) !important;
    color:$colorOfTheme !important;
}
.focusError {
    border:1.4px solid red !important
}

.auth {
    @include shiftDown(70px);
    display:grid;
    grid-template-columns:repeat(2,1fr);
    height:calc(100vh - 70px);
    ol {
        font-size:20px !important;
        li {
            margin-top:1rem
        }
    }
    + footer {
        margin-top : 70px !important;
        position : relative
    }
    .auth__photo {
        background-image:url('https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
        background-position: center;
        background-size: cover;
        position: relative;
        &::before {
            content:'';
            position: absolute;
            left:0;
            top:0;
            background-color: rgba(5, 14, 40,0.4);
            height:100%;
            width:calc(100% - 32px);
            color:white;
            display:grid;
            overflow:hidden;
            justify-items: center;
            align-items:center;
            padding:0 1rem 0 1rem;
            font-size:1.3em
        }
        .auth__photo__info {
            width: 70%;
            height: 50%;
            position: absolute;
            top: 25%;
            left: 15%;
            font-size: 30px;
            color: white;
            font-family : 'Montserrat', sans-serif;
        }
    }
    .auth__form {
        width:60%;
        min-height:60%;
        background:white;
        align-self:center;
        justify-self:center;
        padding:1em;
        display:grid;
        grid-template-rows: repeat(auto-fill,1fr);
        justify-items: center;
        .auth__form__alert_error {
            color: $colorOfAlert;
            font-size: 1.4rem;
            margin: 15px;
            font-weight: bold
        } 
        .auth__form__alert_success {
            color: rgb(5, 179, 5);
            font-size: 1.6rem;
            margin: 15px;
            font-weight: bold
        } 
        p {
            justify-self: start;
            span {
                margin-left:2em;
                font-size: 1.5em;
                font-family:'Montserrat', sans-serif;
                color : $colorOfText;
                &:hover {
                    color : $colorOfTheme;
                    cursor: pointer;
                }
            }
        }
        button {
            @include styleButton(60%,50px,20px);
        }
    }
}

.inputBox {
    position: relative;
    width:100%;
    text-align: center;
    label {
        position: absolute;
        align-self:end;
        justify-self: left;
        background:none;
        font-size:16px;
        transition:0.4s;
        transform: translateY(15px) translateX(18px) ;
        color:rgb(143, 140, 140);
        cursor:text;
    }
    input {
        height:35px;
        outline: none;
        width:90%;
        border-radius:5px;
        border:1.4px solid rgb(218, 217, 217);
        font-size:1em;
        padding:5px;
        margin-bottom:20px;
        &:focus {
            border:1.4px solid rgb(22, 22, 197);
        }
    }
    label[for='avatar'] {
        @include styleButton(90%, 45px);
        display : grid;
        align-items: center;
        position:relative;
        left : 5%;
        transform : none !important;
        &::before {
            content : 'Upload Image';
            color : white
        }
    }
    #category {
        margin-top:20px
    }
    #avatar {
        display : none;
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    bottom : 15px
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    top:150px;
    position: absolute;
    left: calc(50vw - 40px);
    + .pagination {
        display : none
    }
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: $colorOfTheme transparent $colorOfTheme transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}

@keyframes titleEffect {
    from {
        transform: rotateY(90deg);
        opacity: 0;
        filter: blur(10px);
    } to {
        transform: rotateY(0deg);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}
  
@keyframes deployCatalog {
    from {
        max-height : 0;
    } to {
        max-height : 15rem
    }
}

@keyframes switchBackground {
    from {
       background-position: 0%;
    } to {
       background-position: 400%;
    }
}

@keyframes emergenceHeart {
    from {
        transform: translateY(-20vh);
    } to {
        transform: translateX(0vh);
    }
}

@keyframes slideEffectRight {
    from {
        transform: translateX(-110vw);
        opacity: 0;
    } to {
        transform: translateX(0vw);
        opacity: 1;
    }
}

@keyframes slideEffectLeft {
    from {
        transform: translateX(0vw);
        opacity: 1;
    } to {
        transform: translateX(-110vw);
        opacity: 0;
    }
}

@keyframes effectIcon {
    from {
        transform : scale(0)
    } to {
        transform : scale(1.0)
    }
}

body {
    background-color : #f2f3f8;
    margin:0px;
    overflow-x:hidden !important
}

::-webkit-scrollbar {
    width : 10px;
}

::-webkit-scrollbar-thumb {
    background : rgb(189, 189, 189);
    border-radius : 6px;
    &:hover {
        background : linear-gradient(black,rgb(26, 221, 8))
    }
}

::-webkit-scrollbar-track {
    background : rgb(228, 228, 228)
}

@media (max-width : 420px) {
    .open .app-header,.open #content {
        transform: translateX(40vw);
    }
    .app-header {
        menu {
            width : 40vw;
            transform: translateX(-40vw)
        }
        .fa-search,.fa-shopping-cart,.fa-heart,.fa-sign-out-alt {
            font-size : 20px;
            top : 24px;
        }
        .fa-heart {
            right : 72px
        }
        .fa-shopping-cart {
            right : 40px
        }
        .fa-sign-out-alt {
            right : 8px
        }
        .fa-search {
            right : 72px !important
        }
        .fa-times {
            right : 102px !important;
        }
        .changeLocal {
            right : 102px !important;
        }
        .searchInput {
            right : 130px
        }
    }
    .landing {
        .landing__advantages {
            > span {
                grid-column : 1/2;
            }
            grid-template-columns : 1fr;
            grid-row-gap : 2rem;
            padding : 0;
        }
        .landing__photo {
            > span {
                font-size : 30px
            }
            > a {
                left : calc(50vw - 75px);
                top : 65%
            }
        }
        .landing__details,.landing__brands,.landing__counter {
            grid-template-columns : 1fr;
        }
        .landing__brands {
            margin: 50px 20px 50px 20px;
            > span {
                grid-column : 1/2;
            }
        }
        .landing__counter {
            grid-row-gap : 5rem;
            > div {
              width : 85%;
              &:nth-child(2) {
                  > span {
                    position: relative;
                    right: 8px;
                    bottom : 12px
                  }
              }
              &:last-child {
                > span {
                    position: relative;
                    bottom : 12px
                  }
              }
            }
        }
    }
    .products-container {
        grid-template-columns: 1fr;
        .products-container__products {
            grid-template-columns: 1fr;
            padding: 60px 30px;
            .pagination {
                grid-column: 1/2;
            }
        }
        .products-container__catalog {
            grid-row : 1/2;
        }
    }
    .auth {
        grid-template-columns: 1fr;
        grid-template-rows: calc(100vh - 70px);
        height : 150vh;
        grid-row-gap : 3rem;
        + footer {
            margin-top:150px !important;
        }
        .auth__form {
            height : 100%;
            width : 80%
        }
        .auth__photo__info {
            top : 15% !important
        }
    }
    .changeLocalInput {
        right : 110px !important;
        + .fa-times {
            right : 72px !important
        }
    }
    .profile {
        .profile__interactive__menu {
            width: 100%;
            display: grid;
            grid-template-columns: 100px 100px 160px;
            padding-left: 0px;
        }
        .profile__content {
            .info {
                grid-template-columns: 1fr;
                grid-row-gap : 3rem;
                margin: 50px 40px 50px 40px;
                > main {
                    width : 100%;
                    height : 500px;
                    .dialog {
                        padding : 10px 10px;
                        box-sizing : border-box;
                        height : 90px
                    }
                    .dialog__body {
                        padding-left : 10px
                    }
                    .dialog__avatar {
                        width : 65px;
                        height : 65px;
                        align-self : center
                    }
                }
            }
            .settings {
                grid-template-columns: 1fr;
                grid-row-gap : 3rem;
                margin: 50px 40px 50px 40px;
                > main {
                    justify-self : center;
                    .settings__item {
                        margin-right: 0px !important;
                        box-sizing: border-box;
                        padding: 25px 15px 25px 15px;   
                        width : 100%
                    }
                }
            }
            .createdProducts {
                grid-template-columns: 1fr;
                grid-row-gap : 3rem;
                margin: 50px 40px 50px 40px;
                > main {
                    grid-template-columns: 1fr
                }
            }
            .recommendations {
                display: grid;
                grid-template-columns: 1fr;
                .recommendations__body {
                    grid-template-columns: 1fr;
                }
                .back,.go {
                    display : none
                }
            }
        }
    }
    .cart {
        .cart__body {
            grid-template-columns: 1fr;
        }
    }
    .favorites,.found {
        grid-template-columns: 1fr;
        > h1 {
            grid-column: 1/2 !important;
        }
    }
    footer {
        padding : 10px;
        box-sizing: border-box;
    }
    .moreInfo {
        grid-template-columns : 1fr;
        grid-template-rows: auto;
        overflow : auto;
        .moreInfo__body {
            padding : 1.5rem;
            button {
                margin-bottom: 50px;
                width : 40%
            }
        }
        .moreInfo__photo {
            width:90%;
            height : 300px
        }
    }
}